@import 'tailwindcss';

@theme {
  --color-brand-dark: #0f1020;
  --color-brand-purple-dark: #2f195f;
  --color-brand-purple: #7353ba;
  --color-brand-pink: #faa6ff;
  --color-brand-pink-pale: #efc3f5;

  --radius-lg: 1rem;
  --shadow-premium: 0 10px 15px -3px rgba(0, 0, 0, 0.4), 0 4px 6px -2px rgba(0, 0, 0, 0.2);
}
